<div class="search-container col-xs-12">
	<div class="search-icon-container col-xs-1">
		<i class="glyphicon glyphicon-search"></i>
	</div>
	<div class="search-box-container col-xs-7">
		<input type="text" id="searchItems" oninput="search_items(this.value)" class="form-control search-box" placeholder="Search Items">
	</div>
	<div class="item-icons-container col-xs-4">
		<div>
			<i class="material-icons items-add-icon" data-toggle="modal" data-target="#newProductModal">&#xE145;</i>
			<i class="material-icons items-refresh-icon">&#xE5D5;</i>
		</div>
	</div>
</div>
<div class="items-container">
	{% for category in categories %}
	<div class="item-group col-xs-12">
		<h4 class="item-category-label">{{category.name.title()}}</h4>
		{% for item in products %}
		{% if item.category == category.name %}
		<div class="col-xs-3">
			<div class="item" id="{{item.id}}" data-toggle="modal" data-target="#qtyModal" onclick="open_product_qty(this.id)">
				<span class="item-name">{{item.name.title()}}</span>
				<div>
					<span class="item-price">&#8369; {{item.price}}</span>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
	{% endfor %}
</div>